[submodule "prefix-topology-library"]
	path = prefix-topology-library
	url = https://github.com/joonsang-yoon/prefix-topology-library.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/joonsang-yoon/rocket-chip.git
[submodule "hard-float/berkeley-softfloat-3"]
	path = hard-float/berkeley-softfloat-3
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
[submodule "hard-float/berkeley-testfloat-3"]
	path = hard-float/berkeley-testfloat-3
	url = https://github.com/ucb-bar/berkeley-testfloat-3.git
